html  {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.menu-mobile {
  display: none;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Body */
.home {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Main banner */

.main-banner {
  height: 30rem;
  position: relative;
  top: 1rem;
}

.header {
  font-size: 1rem;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.logo {
  display: flex;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  display: inline-flex;
}

li {
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.headline {
  position: relative;
  top: 10rem;
  left: 2rem;
  text-align: right;
}

.headline span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: white;
}

/* Company services */
.services {
  position: relative;
  top: 3rem;
  display: flex;
  justify-content: center;
}

.service {
  margin-right: 6rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img.fit {
  width: 5rem;
}

img.exams {
  width: 3.5rem;
}

/* Company philosophy and contact */
.business {
  position: relative;
  top: 6rem;
  display: flex;
  justify-content: flex-start;
}

.column {
  width: 35%;
  display: flex;
  flex-direction: column;

}

.business .column:first-child {
  margin-right:5%;
}

.title {

  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.column span {
  display: block;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  background-color: cadetblue;
  color: white;
  margin-bottom: 1rem;
}

/* Footer */
.footer {
  position: relative;
  top: 11rem;
  display: flex;
  align-items: center;
  background-color: azure;
}

.footer img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-top: 4rem;
}

/* Media query for tablet */

@media only screen and (max-width: 1035px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .main-banner {
    height: 22rem;
    top:0px;
  }

  .headline {
    top: 5rem;
    left: 0rem;
  }

  .headline span {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    background-color: white;
    position: relative;
    right: 2rem;
  }

  .business {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .service {
    margin-right: 2rem;
  }

}

/* Media query between tablet and mobile */

@media only screen and (max-width: 620px) {
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .title {
    display: none;
  }
}

/* Media query for mobile */

@media only screen and (max-width: 564px) {

  .home {
    background-position: 20%;
    width: 100%;
  }

  .main-banner {
    height: 17rem;
    top:0px;
  }

  .headline {
    top: 9rem;
    text-align: center;
    width: 100%;
  }

  .headline span {
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
    right: 0;
    display: block;
  }

  .services {
    position: relative;
    top: 3.77rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    margin-right: 0;
    margin-top: 1.54rem;
    justify-content: space-around;
  }

  .services .service:first-child {
    margin-top: 0;
  }

  .business {
    position: relative;
    top: 7.54rem;
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .business .column:first-child {
    margin-right:0;
  }

  .business .column:last-child {
    position: relative;
    top: 4rem;
  }

  .column span {
    width: 100%;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .column p {
      font-size: 0.77rem;
  }

  .footer {
    top: 14.77rem;
    justify-content: center;
  }

  .footer img {
    margin-right: 0;
    margin-left: 0;
  }

  .footer p {
    display: none;
  }
}
